* {
	font-size: 101%;
}

pre {
    border-top: 1px solid #ffbe00;
    border-bottom: 1px solid #ffbe00;
}

th {
    background-color: #FFE085;
    font-size: 100%;
}

td {
    font-size: 100%;
    border: 1px solid #ddd !important;
}